*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

a{
    color: #000;
}
.image img{
    width: 40%;
    height: 960px;
    float: left;
}
.signin{
    text-align: center;
    float: right;
    width: 60%;
    justify-content: center;
}
.logo img{
    margin-top: 30px;
    width: 90px;
}
.logo p{
    font-weight: 900;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.input input{
    padding: 20px;
    width: 484px;
    height: 56px;
    font-size: 20px;
    box-sizing: border-box;
    border-radius: 3px;
    margin-top: 15px;
    border: 1px solid #A4A4A4;
}
.sex{
    display: inline-block;
}
.sex ul{
    
    width: 484px;
    margin-top: 15px;
    height: 56px;
    display: flex;
    justify-content: space-between;
}
.sex ul li:first-child{
    
    width: 230px;
    background: white;
    border: 1px solid #A4A4A4;
    border-radius: 3px;
}
.sex ul li:last-child{
    width: 230px;
    background: white;
    border: 1px solid #A4A4A4;
    border-radius: 3px;
    
}
.sex ul li .radio-wrap{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.sex ul .radio-wrap span{
    display: inline-block;
    font-size: 20px;
    padding: 3px 20px;
    background: white;
}
.sex ul .radio-wrap .button1{
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
}
.sex ul .button1:checked ~ span{
    font-weight: bold;
}

.forgot{
    width: 484px;
    display: inline-block;
}
.forgot h3{
    float: left;
    margin-top: 40px;
    font-weight: lighter;
}
.forgot a{
    float: right;
}
.button button{
    width: 484px;
    height: 63px;
    font-size: 25px;
    font-weight: bold;
    background-color: black;
    color: white;
    border-radius: 20px;
    margin-top: 30px;
}
.not{
    width: 240px;
    display: inline-block;
    margin-top: 30px;
}
.not h3{
    float: left;
    font-size: 18px;
    font-weight: lighter;
    color: #787878;
}
.not h4{
    float: right;
    font-size: 18px;
    font-weight: bold;
    text-decoration-line: underline;
}
.back{
    width: 240px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 50px;
}
.back h3{
    float: left;
    font-size: 18px;
    font-weight: lighter;
    color: #787878;
}
.back h4{
    
    font-size: 18px;
    font-weight: bold;
    text-decoration-line: underline;
}
